In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.metrics import accuracy_score,r2_score

In [2]:
df = pd.read_csv('cleaned_dataset_final.csv')

In [3]:
df

,restaurant_id,name,location,rating,total_ratings,price_for_2,cusines
0,354531,Burger Seigneur,Sobha Mall,4.4,1000,1200,American
1,354531,Burger Seigneur,Sobha Mall,4.4,1000,1200,Continental
2,428,Biryani Pot,BTM Layout,3.9,10000,500,North Indian
3,428,Biryani Pot,BTM Layout,3.9,10000,500,Biryani
4,5938,Burger King,Shivaji Nagar,4.1,10000,350,Burgers
...,...,...,...,...,...,...,...
1284,641019,Miami Waffles & Jawbreakers,New Bel Road,4.0,4,200,Desserts
1285,520806,Panda Momos,New Bel Road,3.8,20,200,Asian
1286,520806,Panda Momos,New Bel Road,3.8,20,200,Tibetan
1287,692632,FALAFEL HOUSE,Kalyan Nagar,4.0,4,300,Indian
1288,692632,FALAFEL HOUSE,Kalyan Nagar,4.0,4,300,Arabian

In [8]:
df.restaurant_id = df.restaurant_id.astype('O')

In [9]:
df.dtypes

restaurant_id     object
name              object
location          object
rating           float64
total_ratings      int64
price_for_2        int64
cusines           object
dtype: object

In [11]:
df_new = df[['cusines','location','price_for_2']]
df_new

           cusines       location  price_for_2
0         American     Sobha Mall         1200
1      Continental     Sobha Mall         1200
2     North Indian     BTM Layout          500
3          Biryani     BTM Layout          500
4          Burgers  Shivaji Nagar          350
...            ...            ...          ...
1284      Desserts   New Bel Road          200
1285         Asian   New Bel Road          200
1286       Tibetan   New Bel Road          200
1287        Indian   Kalyan Nagar          300
1288       Arabian   Kalyan Nagar          300

[1289 rows x 3 columns]

In [69]:
df_new.cusines.value_counts()

13    129
8     125
38    121
17     98
26     87
7      82
48     80
18     55
43     52
24     50
4      47
27     34
49     31
9      26
0      25
29     21
16     20
30     16
2      14
6      12
1      12
52     11
54     11
42     10
37     10
50      9
55      9
44      8
56      7
3       7
58      6
21      6
51      5
32      5
23      5
45      4
41      4
10      3
33      3
46      3
47      3
31      2
15      2
22      2
35      2
34      2
36      1
28      1
40      1
57      1
25      1
53      1
11      1
12      1
39      1
5       1
19      1
20      1
14      1
Name: cusines, dtype: int64

In [13]:
le = LabelEncoder()

In [14]:
df_new['cusines'] = le.fit_transform(df_new['cusines'])
df_new['location'] = le.fit_transform(df_new['location'])

C:\Users\abhis\AppData\Local\Temp\ipykernel_21340\520419077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['cusines'] = le.fit_transform(df_new['cusines'])
C:\Users\abhis\AppData\Local\Temp\ipykernel_21340\520419077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['location'] = le.fit_transform(df_new['location'])

In [34]:
x=df_new[['cusines','location']].values
y=df_new['price_for_2'].values

In [63]:
lr = RandomForestRegressor(random_state=22)

In [64]:
lr.fit(x,y)

RandomForestRegressor(random_state=22)

In [65]:
y_pred = lr.predict(x)

In [66]:
r2_score(y,y_pred)

0.5613018999792105